@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* Hartwell font */
@font-face {
  font-family: Hartwell;
  src: url("./fonts//Hartwell/Hartwell Bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Hartwell;
  src: url("./fonts/Hartwell/Hartwell Semibold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Hartwell;
  src: url("./fonts/Hartwell/Hartwell Regular.otf");
  font-style: normal;
  font-weight: 400;
}

* {
  font-family: "Poppins", sans-serif;
}

.content {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.navbar {
  align-items: center;
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
